<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<h2>Users</h2>

<br>

<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Operations</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:utext="${user.getId()}"></td>
        <td th:utext="${user.getFirstName()}"></td>
        <td th:utext="${user.getLastName()}"></td>
        <td th:utext="${user.getAge()}"></td>
        <td th:utext="${user.getEmail()}"></td>
        <td>
            <input type="button" value="Update"
                   th:attr="onclick=|window.location.href='@{/update-user(id=${user.getId()})}'|"/>
            <input type="button" value="Delete"
                   th:attr="onclick=|window.location.href='@{/delete-user(id=${user.getId()})}'|"/>
        </td>
    </tr>
</table>

<br>

<input type="button" value="Add user" onclick="window.location.href='add-user'"/>

</body>
</html>